.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #F7F7F7;
}

.left, .right {
    display: flex;
    align-items: center;
}

.icon {
    padding: 10px;
    margin: 0 10px;
}

.toggle {
    padding: 5px 10px;
    margin-right: 10px;
}

.book {
    font-size: 50px;
}

.moon {
    font-size: 30px;
}